@import '../colors.scss', '../placeholders.scss';

%page-section {
  @extend %flex-container;
  @extend %flex-column;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  align-self: stretch;
}

.page-body,
.body-landing {
  @extend %flex-container;
  @extend %flex-column;
  gap: 24px;
  width: 100%;
}

.body-landing {
  height: 100dvh;
}

.page-container,
.page-landing {
  @extend %flex-container;
  @extend %flex-row;
  border-radius: 8px;
  gap: 24px;
  margin: 0px 24px 24px;
  width: 100%;
}

.page-container {
  background-color: $grayish-white;
}

.page-landing {
  flex-direction: column;
  background-color: white;
  height: 80dvh;
}

.left {
  @extend %page-section;
  justify-content: flex-start !important;
  padding: 24px;
  width: 40%;
}

.right {
  @extend %page-section;
  padding: 40px;
  width: 60%;
}

.message {
  @extend %flex-container;
  height: 100dvh;

  p {
    background-color: white;
    border-radius: 10px;
    color: $gray;
    font-weight: 700;
    font-size: large;
    padding: 3rem;
  }
}
