%page-section {
  @extend %flex-container;
  @extend %flex-column;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  align-self: stretch;
}

.page-body {
  @extend %flex-container;
  @extend %flex-column;
  gap: 24px;
  width: 100%;
}

.page-container {
  @extend %flex-container;
  @extend %flex-row;
  background-color: $grayish-white;
  border-radius: 8px;
  gap: 24px;
  margin: 0px 24px 24px;
  width: 100%;
}

.left {
  @extend %page-section;
  padding: 24px;
  width: 40%;
}

.right {
  @extend %page-section;
  padding: 40px;
  width: 60%;
}
