@import '../colors.scss', '../placeholders.scss';

%page-section {
  @extend %flex-container;
  @extend %flex-column;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  align-self: stretch;
}

.page-body {
  @extend %flex-container;
  @extend %flex-column;
  gap: 24px;
  width: 100%;
}

.body-landing {
  border: 3px solid $pale-gray;
  background-image: url('public/bg-linksharing.png');
  height: 80dvh;
}

.body-landing,
.page-container {
  @extend %flex-container;
  @extend %flex-row;
  border-radius: 8px;
  gap: 24px;
  width: 100%;
}

.page-container {
  background-color: $grayish-white;
  margin: 0px 24px 24px;
}

.page-landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @extend %flex-column;
  border: 3px solid $pale-gray;
  border-radius: 8px;
  background-color: white;
  padding: 20px;
  height: 30%;
}

.landing-align {
  @extend %flex-container;
  a{
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  .page-landing {
    text-align: center;
  }
  .landing-align {
    flex-direction: column;
    p {
      flex-wrap: wrap;
    }
  }
}

/*@media (max-width: 375px) {
  .landing-align {
    p {
      flex-wrap: wrap;
    }
  }
}*/

.left {
  @extend %page-section;
  justify-content: flex-start !important;
  padding: 24px;
  width: 40%;
}

.right {
  @extend %page-section;
  padding: 40px;
  width: 60%;
}

.message {
  @extend %flex-container;
  height: 100dvh;

  p {
    background-color: white;
    border-radius: 10px;
    color: $gray;
    font-weight: 700;
    font-size: large;
    padding: 3rem;
  }
}
