@import "../placeholders.scss";
@import "../colors.scss";

.links-page {
  @extend %flex-container;
  @extend %flex-column;
  width: 100%;
}

.links-div {
  @extend %flex-container;
  @extend %flex-row;
  gap: 24px;
  width: 100%;
  margin: 0px 24px 24px;
}

.mockup-div {
  @extend %flex-container;
  @extend %flex-column;
  margin: 40px;
  width: 1/3;
}

.customize-div {
  @extend %flex-container;
  @extend %flex-column;
  margin: 0 40px 40px;
  width: 2/3;
}

.mobile-outline {
  @extend %flex-container;
  border: 1px solid $soft-gray;
  border-radius: 40px;
  margin-top: 80px;
  width: 307px;
  height: 631px;
}

.mobile-inline {
  @extend %flex-container;
  @extend %flex-column;
  gap: 30px;
  border: 1px solid $soft-gray;
  border-radius: 40px;
  width: 285px;
  height: 611px;
}

.mobile-header {
  @extend %flex-container;
  @extend %flex-column;
  gap: 8px;
  margin: 24px;
}

.mobile-content {
  @extend %flex-container;
  @extend %flex-column;
  gap: 20px;
  width: 90%;
}

.circle {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: $pale-gray;
}

.name {
  @extend %flex-container;
  border-radius: 8px;
  width: 100%;
  height: 16px;
  background-color: $pale-gray;
}

.contact {
  @extend %flex-container;
  border-radius: 8px;
  width: 50%;
  height: 10px;
  background-color: $pale-gray;
}

.link-element {
  @extend %flex-container;
  border-radius: 8px;
  width: 100%;
  height: 44px;
  background-color: $pale-gray;
}

.customize-header {
  @extend %flex-column;
  display: flex;
  width: 100%;
}

.customize-body {
  @extend %flex-container;
  @extend %flex-column;
  padding: 20px;
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
}

.customize-img {
  margin-bottom: 40px;
}

.save-button {
  display: flex;
  justify-content: end;
  border-top: 1px solid $pale-gray;
  padding: 24px 40px;
  width: 100%;
}

.header-p {
  justify-content: left;
  margin-bottom: 40px;
}

.customize-p {
  text-align: center;
  line-height: 150%;
  width: 50%;
  margin-bottom: 20px;
}

.link-button {
  align-self: stretch !important;
  margin-bottom: 24px;
}
