@import "../placeholders.scss";
@import "../colors.scss";

.links-page {
  @extend %flex-container;
  @extend %flex-column;
  width: 100%;
}

.links-div {
  @extend %flex-container;
  @extend %flex-row;
  width: 100%;
  margin: 0px 24px 24px;
}

.mockup-div {
  @extend %flex-container;
  width: 100%;
}

.mobile-outline {
  @extend %flex-container;
  border: 1px solid $soft-gray;
  border-radius: 40px;
  margin-top: 80px;
  width: 307px;
  height: 631px;
}

.mobile-inline {
  @extend %flex-container;
  @extend %flex-column;
  gap: 30px;
  border: 1px solid $soft-gray;
  border-radius: 40px;
  width: 285px;
  height: 611px;
}

.mobile-header {
  @extend %flex-container;
  @extend %flex-column;
  gap: 8px;
  margin: 24px;
}

.mobile-content {
  @extend %flex-container;
  @extend %flex-column;
  gap: 20px;
  width: 90%;
}

.circle {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: $pale-gray;
}

.name {
  @extend %flex-container;
  border-radius: 8px;
  width: 100%;
  height: 16px;
  background-color: $pale-gray;
}

.contact {
  @extend %flex-container;
  border-radius: 8px;
  width: 50%;
  height: 10px;
  background-color: $pale-gray;
}

.link-element {
  @extend %flex-container;
  border-radius: 8px;
  width: 100%;
  height: 44px;
  background-color: $pale-gray;
}
