@import "../colors.scss";
@import "../placeholders.scss";

%mobile-border {
  @extend %flex-container;
  border: 1px solid $soft-gray;
  border-radius: 40px;
}

%element {
  @extend %flex-container;
  background-color: $paler-gray;
  border-radius: 8px;
}

.outline {
  @extend %mobile-border;
  width: 307px;
  height: 631px;
}

.inline {
  @extend %mobile-border;
  @extend %flex-column;
  gap: 30px;
  width: 285px;
  height: 611px;
}

.mobile-header {
  @extend %flex-container;
  @extend %flex-column;
  gap: 8px;
  margin: 24px;
}

.mobile-content {
  @extend %flex-container;
  @extend %flex-column;
  gap: 20px;
  width: 90%;
}

.circle {
  background-color: $paler-gray;
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.name {
  @extend %element;
  width: 100%;
  height: 16px;
}

.contact {
  @extend %element;
  width: 50%;
  height: 10px;
}

.link-element {
  @extend %element;
  width: 100%;
  height: 44px;
}
