@import '../colors.scss';
@import '../placeholders.scss';

%button {
  border: none;
  padding: 11px 27px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  margin: 24px;
  padding: 16px 24px;
  height: 60px;
  width: 95%;
}

.nav-div {
  @extend %flex-container;
  @extend %flex-row;
  gap: 16px;
}

.nav-div-preview {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  @extend %flex-container;
  @extend %flex-row;
  @extend %button;
  color: $soft-gray;
  background-color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 35%;
  align-self: center;

  button {
    height: 75%
  }
}

.nav-preview {
  border: 1px solid $deep-teal;
  color: $deep-teal;
}

.nav-link.active {
  background-color: $pale-teal;
  p {
    color: $deep-teal;
  }
}

.nav-preview:hover {
  background-color: $pale-teal;
}

@media (max-width: 1024px) {
  nav {
    width: 90%;
  }

  nav, .nav-div {
    gap: 8px;
  }

  .nav-div a, #logout img{
    padding: 8px;
  }

  .nav-div button {
    height: 60%;
    width: 16px;
    padding: 16px;
  }

  .nav-link p,
  .logo-h2 p {
    display: none;
  }
}
