@import "../colors.scss";
@import "../placeholders.scss";

.preview-body {
  display: flex;
  @extend %flex-row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $deep-teal;
  border-radius: 0px 0px 20px 20px;
  height: 375px;
  width: 100%;
}

.phone {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 60px;
  border-radius: 40px;
}

.popup-div {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
  height: 100%;
}

.popup {
  @extend %flex-container;
  @extend %flex-row;
  gap: 8px;
  background-color: $gray;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 8px;
  width: 397px;
  height: 56px;
}

.popup-img {
  width: 20px;
  height: 20px;
}
