$deep-teal: #405e63;
$soft-teal: #507e85;
$pale-teal: #7fb4b9;
$muted-red: #a44a3f;
$dark-charcoal-gray: #1e1e1e;
$gray: #333;
$soft-gray: #737373;
$pale-gray: #d9d9d9;
$paler-gray: #eeeeee;
$grayish-white: #fafafa;

$text: #333;
$text-light: #737373;
$background: #d9d9d9;
$background-light: #fafafa;
$primary: #405e63;
$secondary: #507e85;
$accent: #7fb4b9;
$error: #a44a3f;