@import './colors.scss';

#root,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  max-width: 1440px;
  color: $text;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}

p,
span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-light;
  margin: 0px;
}

p {
  font-size: 14px;

  a {
    margin-left: 4px;
  }
}

span {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: $primary;
}

@media (min-width: 426px) {
  #root,
  body {
    background-color: $background-light;
  }

  #register, #login {
    background-color: white;
    border-radius: 16px;
    padding: 40px;
    max-width: 420px;
  }
}

//forms

#register, #login {
  display: flex;
  flex-direction: column;
  width: 90%;

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h2 {
      margin: 0px;
    }
  }
}

label {
  display: flex;
  justify-content: start;
  font-size: 12px;
  margin-top: 8px;
}

input {
  border: 1px solid $background;
  border-radius: 8px;
  padding: 12px 16px;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-position: 5% center;

  :focus {
    box-shadow: 0px 0px 20px 0px $accent;
  }
}

input[type='email'] {
  background-image: url('/envelope.svg');
}

input[type='password'] {
  background-image: url('/lock.svg');
}

input[type='url'] {
  background-image: url('/link-gray.svg');
  background-position: 1% center !important;
}

button {
  border: none;
  padding: 11px 27px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  margin: 8px 0;
}

#primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: $primary;
}

//customization classes

.error {
  color: $error;
}

.justify-start {
  justify-content: start;
}
