@import "./styles/colors.scss";
@import "./styles/placeholders.scss";
@import "./styles/components/login.scss";
@import "./styles/components/links.scss";
@import "./styles/components/buttons.scss";
@import "./styles/components/forms.scss";

#root,
.padding,
.no-padding {
  @extend %flex-container;
  @extend %flex-column;
  align-self: stretch;
  width: 100%;
  max-width: 1440px;
}

body {
  @extend %flex-container;
  font-family: Helvetica, Arial, sans-serif;
  color: $gray;
  background-color: $grayish-white;
  margin: 0;
  width: 100%;
}

.padding {
  padding: 0 24px;
}

.no-padding {
  padding: 0px;
  height: 100vh;
}

p {
  @extend %flex-container;
  color: $soft-gray;
  margin: 0px;
  font-size: 14px;
}

p > button {
  background: none;
  border: none;
  color: inherit;
}

h2 {
  margin: 0px;
}

section {
  @extend %flex-container;
  @extend %flex-column;
  gap: 51px;
  width: 476px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: $deep-teal;
}

.logo-header {
  @extend %flex-container;
  @extend %flex-column;
  gap: 51px;
  padding: 0px 40px;
}

.logo-h2 {
  @extend %flex-container;
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
}
